@mixin st_btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	white-space: nowrap;
	font-family: $font_2;

	cursor: pointer;

	&[type='submit'] {
		@include appearance(none);
	}

	&:hover,
	&:focus {
		text-decoration: none;
	}

	&:disabled,
	&[disabled] {
		pointer-events: none;
		cursor: not-allowed;
		opacity: 0.5;
	}
}

//color mixins:
@mixin btn_style_primary {
	font-weight: 700;
	color: $black;
	background-color: $primary_yellow;
	transition: background-color 0.3s ease;

	@include st_btn;

	&:hover {
		background-color: darken($secondary_yellow, 25%);
	}

	&:disabled,
	&[disabled] {
		background-color: darken($secondary_yellow, 25%);
	}
}

@mixin btn_style_light {
	font-weight: 700;
	color: $white;
	background-color: transparent;
	transition: background-color 0.3s ease;

	@include st_btn;

	&:hover {
		background-color: $gray_700;
	}

	&:disabled,
	&[disabled] {
		background-color: $gray_700;
	}
}

@mixin btn_style_dark {
	font-weight: 700;
	color: $white;
	background-color: transparent;
	transition: background-color 0.3s ease, color 0.3s ease;
	border: 2px solid $gray_500;

	@include st_btn;

	&:hover {
		color: $gray_700;
		background-color: $gray_100;
	}

	&:disabled,
	&[disabled] {
		color: $gray_700;
		background-color: $gray_100;
	}
}

//size mixins:
@mixin btn_size_small {
	height: 4rem;
	padding: 0 1.6rem;

	line-height: 4rem;
	font-size: 1.4rem;

	border-radius: $gl_radius;
}

@mixin btn_size_medium {
	height: 4.8rem;
	padding: 0 2.4rem;

	line-height: 4.8rem;
	font-size: 1.6rem;

	border-radius: $gl_radius;
}

@mixin btn_only_icon_size_small {
	height: 4rem;
	width: 4rem;
	border-radius: 100%;
}

@mixin btn_only_icon_size_medium {
	height: 4.8rem;
	width: 4.8rem;
	border-radius: 100%;
}
