mixin no_use(array)
	.no_use
//--------------------------------------------------------------global vars
- environment = htmlWebpackPlugin.options.environment;
- array = '';
- assetsImage = 'images/';

//--------------------------------------------------------------forms
-
	registration = {
		id: 'popup_registration',
		input_list: [
			{
				type: 'text',
				id: 'input_name',
				placeholder: 'Ваше імʼя',
			},
			{
				type: 'email',
				id: 'input_email',
				placeholder: 'Ваш email',
			},
			{
				type: 'password',
				placeholder: 'Ваш пароль',
				id: 'popup_reg_password',
				label: 'Пароль має містити літери і символи'
			},
			{
				type: 'password',
				placeholder: 'Повторіть пароль',
				id: 'popup_reg_password_repeat',
				label: 'Паролі не співпадають'
			}
		],
	}
