extends ../layout/layout

block vars
	- array = { body_class: '', layout_mod: '', sub_keywords: '', title_inner: 'Index', template_name: 'index' };

block content_block
	.main_decor__wrap
		+loop_while(6)
			.main_decor(class=`main_decor--pos_${i}_mod`)
				img.main_decor__img(
					src=`images/main_decor_${i}.svg`,
					alt='decor'
				)
	include ../blocks/hero
	include ../blocks/traffic
